<template>
  <div class="k-list-items">
    <template v-if="title">
      <div :class="depth" @click="goToPanelLocation(panel_url)">
        <k-icon :type="getIcon()" size="small" />
        <k-item
          :data="data"
          :text="title"
          :info="info"
          :showSlug="showSlug"
          :showStatus="showStatus"
          :treeMaxDepth="treeMaxDepth"
        />
      </div>
  
      <div
        v-if="enableTreeCollapse && data.length"
        class="toggle-list"
        :class="getToggleLevelDepth(data[0].depth-1)"
        @click="toggleCollapse($event)">
        <span class="minus"></span>
        <span class="minus minus-2"></span>
      </div>
    </template>
  
    <table-view-cell v-for="(item, index) in data"
      :key="index"
      :data="item.child"
      :title="transTitle(item) + ' ' + showItemDepth(enableTreeDisplayDepth, item)"
      :language="language"
      :showSlug="showSlug"
      :showStatus="showStatus"
      :showPageIcon="showPageIcon"
      :treeMaxDepth="treeMaxDepth"
      :treeDefaultIcon="treeDefaultIcon"
      :enableTreeCollapse="enableTreeCollapse"
      :enableTreeDisplayDepth="enableTreeDisplayDepth"
      :info="showPageSlug(item) + ' ' + showPageStatus(item.status)"
      :panel_url="item.panel"
      :iconEmoji="item.icon.icon"
      @click="goToPanelLocation(item.panel)"
      :class="getMaxLevelDepth(item.depth-1) + ' ' + lastItem(index,data) + ' ' + isCollapsable(enableTreeCollapse,item,(treeMaxDepth > item.depth)) + ' ' + showDepth(enableTreeDisplayDepth,item)"
      >
    </table-view-cell>
  
  </div>
  </template>
  
  <script>
  /*
  
    recusive vue template:
    - TableViewCell is recusive as long as item available in item.child
  
  */
  export default {
    props: ['language', 'data', 'title', 'iconEmoji', 'depth', 'panel_url', 'info', 'showSlug', 'showStatus', 'showPageIcon' ,'treeMaxDepth', 'treeDefaultIcon', 'enableTreeCollapse', 'enableTreeDisplayDepth'],
    name: 'table-view-cell',
    methods: {
      lastItem: function(index,data) {
        return index==data.length-1 ? "last-item" : "item"
      },
      getIcon: function() {
        let icon = this.treeDefaultIcon;
        if(this.showPageIcon === true) {
          if(this.iconEmoji !== undefined){
            icon = this.iconEmoji
          }
        }
        return icon;
      },
      showPageStatus: function(status) {
        return this.showStatus ? '<span class=' + status + '></span>' : '';
      },
      showPageSlug: function(item) {
        return this.showSlug ? this.slugLang(item) : '';
      },
      goToPanelLocation: function(panelLink) {
        window.location.href = panelLink;
      },
      getMaxLevelDepth: function(currentDepth) {
        return currentDepth >= this.treeMaxDepth ? `level_hidden` : `level_${currentDepth}`;
      },
      getToggleLevelDepth: function(currentDepth) {
        return currentDepth >= this.treeMaxDepth ? `toggle-list_hidden` : `toggle-list_${currentDepth}`;
      },
      transTitle(item) {
         if(item.translations[this.language]){
           if(item.translations[this.language].exists){
            return item.translations[this.language].content.title;
           }
         }
        return item.title
      },
      slugLang(item) {
        if(!this.$language){
          return item.slug;
        }
        if(this.$language.default){
          if(item.translations[this.language]){
            if(item.translations[this.language].slug){
              return `/${this.language}/${item.translations[this.language].slug}`;
            }
         }
          return `/${this.language}/${item.slug}`;
        }
        else{
          return item.slug;
        }
      },
      isCollapsable: function(val, item, depthval) {
        let hasChildren = item.child.length;
        return val && hasChildren > 0 && depthval ? "expand-collapse" : "";
      },
      toggleCollapse: function(event) {
        let el = event.target;
        let elems = document.querySelector('.k-retrotree').querySelectorAll('.expand-collapse');
        if(el.classList.contains('minus')) {
          el = event.target.parentElement;
        }
        el.parentElement.classList.toggle('expanded');
        elems.forEach((elem, index) => {
          if(elem === el.parentElement) {
            let storedVar = elem.classList.contains('expanded') ? true : false;
            localStorage.setItem(`${elem.baseURI}tree-el-${index}`, storedVar);
          }
        });
      },
      showDepth: function(val, item) {
        let hasChildren = item.child.length;
        return val && hasChildren > 0 ? "show-depth" : "";
      },
      showItemDepth: function(val, item) {
        return val && item.child.length > 0 ? `[${item.child.length}]` : "";
      },
    },
  }
  </script>
  <style lang="scss">
  @import './src/scss/index.scss';
  </style>