<template id="k-retrotree-section">
  <section class="k-retrotree">
    <header class="k-section-header">
      <h2 class="k-headline">{{ headline }}</h2>
      <k-button v-if="enableTreeCollapse" class="toggle-all" @click="toggleAll()">
        <span class="collapse-all">{{ toggleTextOpen }}</span>
        <span class="expand-all">{{ toggleTextClosed }}</span>
      </k-button>
    </header>
    <div class="k-container">
      <template v-if="pages.length<=0">
        <k-item :text="treeEndMessage" />
      </template>
      <template v-else>
        <table-view-cell
        :data="pages"
        :title="pages.title"
        :showSlug="showSlug"
        :showStatus="showStatus"
        :showPageIcon="showPageIcon"
        :treeMaxDepth="treeMaxDepth"
        :treeDefaultIcon="treeDefaultIcon"
        :enableTreeCollapse="enableTreeCollapse"
        :enableTreeDisplayDepth="enableTreeDisplayDepth"
        :language="language"
        >
        </table-view-cell>
      </template>
    </div>
   </section>
  </template>
  <script>
  import TableViewCell from "./TableViewCell.vue";
  
  export default {
    name: 'k-retrotree-section',
    components: {
      TableViewCell
    },
    data: function() {
      return {
        headline: null,
        treeMaxDepth: null,
        pages: Array,
        showStatus: null,
        showSlug: null,
        treeEndMessage: null,
        showPageIcon: null,
        treeDefaultIcon: null,
        enableTreeCollapse: null,
        toggleTextOpen: null,
        toggleTextClosed: null,
        enableTreeDisplayDepth: null,
        language: this.$language ? this.$language.code : "",
        allCollapsableElements: null
      }
    },
    created: function() {
      this.load().then(response => {
        this.headline = response.headline;
        this.treeMaxDepth = response.treeMaxDepth;
        this.pages = response.tree[0].data;
        this.showStatus = response.showStatus;
        this.showSlug = response.showSlug;
        this.treeEndMessage = response.treeEndMessage;
        this.showPageIcon = response.showPageIcon;
        this.treeDefaultIcon = response.treeDefaultIcon;
        this.enableTreeCollapse = response.enableTreeCollapse;
        this.toggleTextOpen = response.toggleTextOpen;
        this.toggleTextClosed = response.toggleTextClosed;
        this.enableTreeDisplayDepth = response.enableTreeDisplayDepth;
      }).then(() => {
        this.allCollapsableElements = document.querySelector('.k-retrotree').querySelectorAll('.expand-collapse');
        this.getFromStorage(this.allCollapsableElements);
      });
    },
    methods: {
      toggleAll: function() {
        let el = document.querySelector('.toggle-all');
        let expandElements = document.querySelector('.k-retrotree').querySelectorAll('.expand-collapse');
        if(el) {
          el.classList.toggle('expanded-all');
          expandElements.forEach(elem => {
            if(el.classList.contains('expanded-all')) {
              elem.classList.add('expanded')
            } else {
              elem.classList.remove('expanded')
            }
          })
          this.saveToStorage(this.allCollapsableElements);
        }
      },
      getFromStorage: function(elems) {
        let counter = 0
        elems.forEach((el, index) => {
          let storageVal = localStorage.getItem(`${el.baseURI}tree-el-${index}`)
          if(storageVal === 'true') {
            el.classList.add('expanded')
            counter++
          } else {
            el.classList.remove('expanded')
          }
        });
        if(counter === elems.length) {
          this.toggleAll()
        }
      },
      saveToStorage: function(elems) {
        elems.forEach((el, index) => {
          let storedVar = el.classList.contains('expanded') ? true : false;
          localStorage.setItem(`${el.baseURI}tree-el-${index}`, storedVar);
        });
      }
    },
  
    computed: {
      currentLanguage() {
        return this.$language.code;
      },
    },
    watch: {
      currentLanguage(newValue) {
        this.language = newValue.code;
      }
  }
  
  };
  </script>
  <style lang="scss">
  @import './src/scss/index.scss';
  </style>
  