.k-retrotree {
  position: relative;
  $white: white;
  $red: #d16464;
  $gray: gray;
  $black: #000;
  $unlisted: #81a2be;
  $listed: #a7bd68;
  $maxLevel: 10;

  .k-section-header {
    justify-content: space-between;
  }

  .k-list-item {
    box-shadow: none;
    cursor: pointer;

    &:hover {
      .k-item-info, .k-item-title {
        color: $black;
      }
    }

    .k-icon-emoji {
      margin-left: 0;
    }
  }

  .k-list {
    position: relative;
  }

  .k-list .k-list-item:not(:last-child) {
    margin-bottom: 0;
  }

  .k-list-item-text {
    padding: 0;

    em {
      color: $gray;
    }
  }

  .k-icon {
    justify-content: left;
    background: none !important;
    color: none;
    float: left;
    margin-top: 9px;
  }

  .k-list-item-image {
    width: 2rem;
  }

  .k-line-field {
    height: 1rem;
    padding-bottom: 2rem;
  }

  .k-list-item-image .k-icon svg {
    opacity: 1;
    color: $gray;
  }

  .k-container {
    padding: 0.8rem 1.8rem 0.8rem 1.5rem;
    background: $white;
    border-left: 2px $gray solid;
  }

  .k-item-title {
    color: $gray;
  }

  .k-list-items .item .toggle-list {
    &:hover {
      .minus {
        background-color: $black;
      }
    }
  }

  .level_hidden {
    display: none;
  }

  span {

    &.listed,
    &.published {
      top: 43%;
      right: -1rem;
      border-radius: 50%;
      position: absolute;
      height: 0.4rem;
      width: 0.4rem;
      background: $listed;
    }

    &.unlisted {
      top: 43%;
      right: -1rem;
      border-radius: 50%;
      position: absolute;
      height: 0.4rem;
      width: 0.4rem;
      background: $unlisted;
    }

    &.draft {
      top: 43%;
      right: -1rem;
      border-radius: 50%;
      position: absolute;
      height: 0.4rem;
      width: 0.4rem;
      background: $red;
    }
  }

  .level_0 {
    position: relative;
    padding-left: 0;

    >.toggle-list {
      left: -1.25rem;
    }
  }

  .level_1 {
    position: relative;
    padding-left: 2rem;

    .last-item {
      &::before {
        height: 1.25rem;
      }
    }

    &:hover {
      &::before {
        border-left: 1px solid black;
      }

      &::after {
        border-bottom: 1px solid black;
      }
    }

    &::before {
      content: "";
      position: absolute;
      border-left: 1px solid gray;
      left: 0.45rem;
      height: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      border-bottom: 1px solid gray;
      width: 1.1rem;
      left: 0.45rem;
      top: 1.21rem;
    }
  }

  // generate auto level from 2 to 10
  @mixin level-list {
    @for $i from 2 through $maxLevel {
      .level_#{$i} {
        @extend %level-styles;
      }
    }
  }

  @include level-list;

  %level-styles {
    position: relative;
    padding-left: 2rem;

    .last-item {
      &::before {
        height: 1.25rem;
      }
    }

    &:hover {
      &::before {
        border-left: 1px solid black;
      }

      &::after {
        border-bottom: 1px solid black;
      }
    }

    &::before {
      content: "";
      position: absolute;
      border-left: 1px solid gray;
      left: 0.45rem;
      height: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      border-bottom: 1px solid gray;
      width: 1.1rem;
      left: 0.45rem;
      top: 1.21rem;
    }
  }

  .k-list-item-content {
    &:hover {

      em,
      small {
        color: black;
        cursor: pointer;
      }

      .k-icon {
        svg {
          color: black;
          cursor: pointer;
        }
      }
    }
  }

  .expand-collapse {
    position: relative;

    &.expanded {
      >.k-list-items {
        display: block;
      }

      >.toggle-list .minus {
        transform: rotate(45deg);
      }

      >.toggle-list .minus-2 {
        transform: rotate(-45deg);
      }
    }

    &:after {
      display: none;
    }

    .k-list-items {
      display: none;
    }
  }

  .minus {
    position: absolute;
    top: 0.5rem;
    left: 0;
    width: 1rem;
    height: 1px;
    background-color: $gray;
  }

  .minus-2 {
    transform: rotate(90deg);
    transition: transform 0.3s;
  }

  .toggle-list {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0.6875rem;
    left: 0.75rem;
    z-index: 1;
    cursor: pointer;
  }

  .toggle-list_hidden {
    display: none;
  }

  .toggle-all {
    .expand-all {
      display: inline-block;
    }

    .collapse-all {
      display: none;
    }

    &.expanded-all {
      .expand-all {
        display: none;
      }

      .collapse-all {
        display: inline-block;
      }
    }
  }
}
